@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Have a question or concern? Contact us!</p>


<form method="post" asp-page-handler="OnPostSubmitForm">
    <label for="inputName">Name:</label>
    <input type="text" id="inputName" name="name" />
    <label for="inputEmail">Email:</label>
    <input type="email" id="inputEmail" name="email" />
    <label for="inputMessage">Message:</label>
    <textarea id="inputMessage" name="message"></textarea>
    <br />
    <button type="submit">Submit</button>
</form>